body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;

    background-color: #83858b;
}


a {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    background-color: #9a0b0b;
}
.btnHeaderControl {
    display: flex;
   
    margin-top: 20px;
}
header {
    background-color: #3a3a3b;
    color: white;
   text-align: center;
    box-shadow: #4b4b4c;
}
